body{
    background-color: skyblue;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(currencies.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    background-color: rgba(160, 120, 40, 0.48);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    text-align: center;

}
.Currency-container{
    padding: 20px;
    display: flex;
    justify-content: space-between;

}
.Currency-container select{
    padding: 10px;
}
.Currency-container input{
    border: none;
    background-color: transparent;
    font-size: 25px;
    text-align: right;
    color: rgb(255, 255, 255);
}
.exchange-rate{
    font-size: 150px;
    font-weight: 600;
}
select:focus,
input:focus{
    outline: none;
}
